.container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.container .posts {
  width: 70%;
  height: 100%;
  border: 1px solid red;
  overflow: scroll;
}

.container .another {
  width: 30%;
  height: 100%;
}

form {
  margin-top: 13%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  border-radius: 10px;
}

/* friends */

.friendsContainer {
  height: 100%;
  width: 100%;
  border: 1px dashed blue;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 2%;
}

.friend {
  width: 95%;
  height: 15%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.friend:hover {
  background-color: whitesmoke;
  box-shadow: 20px 20px white;
}

.friend div img {
  height: 90%;
  width: 90%;
}

.friend p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  padding: 0;
}
.friend div {
  margin-right: 3%;
}
